faker
cython
scikit-learn
scrapy
pandas
ipython
jupyter
jupyterlab
pandas-datareader
matplotlib
seaborn
numexpr
bottleneck
SQLAlchemy
openpyxl
xlrd
xlwt
beautifulsoup4
html5lib
lxml
requests
networkx
plotly
pillow
bokeh
gensim
SymPy
keras
pattern
Exifread
nose
peewee
prettytable
progressbar
uuid
pycrypto
Whoosh
regex
ladon
fedex
tswift
pmxbot
Django
selenium
pymongo
redis
reverb
inflect
python-dateutil
Flask
wxPython
pytz
milk
glmnet
pydot
patsy
pymc3
